<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Read More</title>
  </head>
  <body>
    <style>   body {background-color: rgb(5, 9, 66); color: "white";}
        h1 {  color: white; text-align: center; font-family: "arial black"; }
        h3 {  color: white; text-align: center; }
        h4 {  color: white; font-family: "arial black"; }
        p {  color: white; font-family: "georgia"; } </style>
        <h1>Georgetown Books</h1>
        <hr>
        <form action="/bookstoread" method="POST">
            <fieldset>
               <p>
                <label>Book Genre</label>  
                <select name = "Bookgenre">
                        <option value = "combined-print-and-e-book-fiction">Combined Print and e-book Fiction</option>
                        <option value = "combined-print-and-e-book-nonfiction">Combined Print and e-book Nonfiction</option>
                        <option value = "hardcover-fiction">Hardcover Fiction</option>
                        <option value = "hardcover-nonfiction">Hardcover Nonfiction</option>
                        <option value = "trade-fiction-paperback">Paperback Fiction</option>
                        <option value = "paperback-nonfiction">Paperback Nonfiction</option>
                        <option value = "picture-books">Picture Books</option>
                        <option value = "young-adult-hardcover"> Young Adult Hardcover</option>
                  </select>
               <br>
               <label>Year</label> 
                <select name = "Year">
                    <option value = "2020">2020</option>
                    <option value = "2019">2019</option>
                    <option value = "2018">2018</option>
                    <option value = "2017">2017</option>
                    <option value = "2016">2016</option>
                    <option value = "2015">2015</option>
                    <option value = "2014">2014</option>
                    <option value = "2013">2013</option>
                    <option value = "2012">2012</option>
                    <option value = "2011">2011</option>
                    <option value = "2010">2010</option>
          </select>
            </fieldset>
                <button> Search </button>
            </p>
         </form>
  </body>
  
</html>